<h1>hello world</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= form_with scope: :episodes, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>