<h1>Appearance form page:</h1>
<%= form_for @appearance do |f| %>
  <%= f.label :episode %>
  <%= f.collection_select :episode_id, Episode.all, :id, :number, :prompt => true  %>
  <%= f.label :guest %>
  <%= f.collection_select :guest_id, Guest.all, :id, :name, :prompt => true  %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.submit %>
<% end %>
